:root {
    --main-color: rgb(255,255,252);
    --body-color: rgba(0,0,0,0.03);
    --main-bg-color: rgb(20, 75, 170);
    --sub-bg-color: rgba(20, 75, 170, 0.3);
    --main-bold: 600;
    --main-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: "Courier New", Courier, monospace;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes arrowAnimation {
    from {
        opacity: 0.6;
        transform: translate(0%);
    }
    to {
        opacity: 1;
        transform: translate(10%, -2%);
    }
}

@keyframes upAnimation {
    from {
        opacity: 0.6;
        transform: translate(0%, 0%);
    }
    to {
        opacity: 1;
        transform: translate(0%, -100%);
    }
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.2s ease;
}

.show-ani {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

@media (prefers-reduced-motion: no-preference) {
    .hidden {
      transition: all 1.2s ease;
    }
}

.zoom {
    transition: transform .5s ease;
}

.zoom:hover {
    transform: scale(1.1);
}